body {
    background:#e6e6e6; 
    padding:0; 
    margin:0;
    font-family: Verdana;
    font-size: 12px;
}

h1 {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    padding: 0px;
    margin: 10px 0px 5px;
}

h2 {
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    padding: 0px;
    margin: 8px 0px 3px;
}

h3 {
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    padding: 0px;
    margin: 5px 0px 2px;
}

a:link    {color:#1d7ebf; text-decoration:underline;}
a:visited {color:#1d7ebf;}
a:hover   {color:#1d7ebf; text-decoration:none;}
a:active  {color:#1d7ebf;}

input[type=text] {
    width: 289px;
    padding: 2px 3px;
}

textarea {
    width: 289px;
    padding: 3px 3px;
}

input[type=submit], button {
    margin: 3px 0px;
    border: 1px solid #666;
    padding: 5px 15px;
    cursor: pointer;
    font-family: Georgia,"Nimbus Roman No9 L",serif;
    color: #fff;
    font-size:12px;
    font-style: italic;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
}

input[type=submit] {
    background-color: #d14545;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
    background-image: -webkit-linear-gradient(top, #e97171, #d14545);
    background-image: -moz-linear-gradient(top, #e97171, #d14545);
    background-image: -ms-linear-gradient(top, #e97171, #d14545);
    background-image: -o-linear-gradient(top, #e97171, #d14545);
    background-image: linear-gradient(top, #e97171, #d14545);
}

input[type=submit]:hover {
    background-color: #d15a5a;
    background-image: linear-gradient(bottom, #EB9292 100%, #D15A5A 0%);
    background-image: -o-linear-gradient(bottom, #EB9292 100%, #D15A5A 0%);
    background-image: -moz-linear-gradient(bottom, #EB9292 100%, #D15A5A 0%);
    background-image: -webkit-linear-gradient(bottom, #EB9292 100%, #D15A5A 0%);
    background-image: -ms-linear-gradient(bottom, #EB9292 100%, #D15A5A 0%);
    
    background-image: -webkit-gradient(
        linear,
    	left bottom,
    	left top,
    	color-stop(1, #EB9292),
    	color-stop(0, #D15A5A)
    );
}

button {
    background-color:#A8A8A8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#666));
    background-image: -webkit-linear-gradient(top, #999, #666);
    background-image: -moz-linear-gradient(top, #999, #666);
    background-image: -ms-linear-gradient(top, #999, #666);
    background-image: -o-linear-gradient(top, #999, #666);
    background-image: linear-gradient(top, #999, #666);
}

button:hover {
    background-color:#8B8B8B;
    background-image: linear-gradient(bottom, #BBB 100%, #888 0%);
    background-image: -o-linear-gradient(bottom, #BBB 100%, #888 0%);
    background-image: -moz-linear-gradient(bottom, #BBB 100%, #888 0%);
    background-image: -webkit-linear-gradient(bottom, #BBB 100%, #888 0%);
    background-image: -ms-linear-gradient(bottom, #BBB 100%, #888 0%);
    
    background-image: -webkit-gradient(
        linear,
    	left bottom,
    	left top,
    	color-stop(1, #BBB),
    	color-stop(0, #888)
    );
}

table td {
    padding: 3px 3px 0px 0px
}

.clear_both {
    clear: both;
}

.error_message {
    background: #FFCCCC;
    padding: 5px;
    margin: 10px 0px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius:    5px 5px 5px 5px;
    -khtml-border-radius:  5px 5px 5px 5px;
    border-radius:         5px 5px 5px 5px; 
}

#topborder {
    background:#1d7ebf;
    padding-bottom: 15px;width:100%;
}

#menu { 
    z-index: 100;
    background:#1d7ebf; 
    width:940px !important; 
    padding: 5px 10px;
    margin-top: 50px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius:    5px 5px 5px 5px;
    -khtml-border-radius:  5px 5px 5px 5px;
    border-radius:         5px 5px 5px 5px; 
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.3);
}

#menu a {
    color: #000000; 
    text-decoration: none; 
    font-size: 14px;
    font-family: Arial;
    padding: 10px;
    display: block;
}

#menu ul li ul li a:hover {
    background: #DDD;
}

#menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#menu ul li {
    margin: 0px;
    float: left;
    list-style: none
}

#menu ul li h1 {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

#menu ul li ul {
    z-index: 100;
    display: none;
    position: absolute;
    background: #CCC;
}

#menu ul li ul li {
    float: none;
}

#container { 
    background:#f5f5f5; 
    width:960px; 
    padding-bottom: 10px;
    margin-top: 20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius:    5px 5px 5px 5px;
    -khtml-border-radius:  5px 5px 5px 5px;
    border-radius:         5px 5px 5px 5px; 
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.3);
}


#footer {
    font-family:tahoma;
    font-size:11px;
    text-align:center;
    color:#666;
    margin-top:10px;
}

